<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1891053478044852</string>
				<string>com.googleusercontent.apps.246068952570-ohr0f1eehl56vf1gm8fvbdbe9hbskkrd</string>
				<string>com.rmit.SwiftSpeak</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1891053478044852</string>
	<key>FacebookClientToken</key>
	<string>85d8affcad9d7726fb5fe7c085eabb2e</string>
	<key>FacebookDisplayName</key>
	<string>SwiftSpeak</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Medium.ttf</string>
	</array>
</dict>
</plist>
