<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict/>

<key>CFBundleURLTypes</key>
<array>
  <dict>
    <key>CFBundleURLSchemes</key>
    <array>
      <string>fb{your-facebook-app-id}</string>
    </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>1891053478044852</string>
<key>FacebookClientToken</key>
<string>85d8affcad9d7726fb5fe7c085eabb2e</string>
<key>FacebookDisplayName</key>
<string>SwiftSpeak</string>
<key>LSApplicationQueriesSchemes</key>
<array>
  <string>fbapi</string>
  <string>fb-messenger-share-api</string>
</array>

</plist>
